# Environment variables and secrets
.env
firebase_credentials.json

# Datasets that will be managed by Firebase instead
*.csv
*.tsv
*.json
!requirements.json
!package.json

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
venv/
ENV/
env/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
